<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"
               xmlns:unicorn="http://www.sitecore.net/xmlconfig/unicorn/">
  <sitecore unicorn:require="Enabled">
    <unicorn>
      <configurations>
        <configuration name="$safeprojectname$" description="$projectname$" dependencies="Foundation.*,Feature.*" extends="Helix.Base">
          <targetDataStore physicalRootPath="$(sourceFolder)\Project\$solutionpathformat$\Content" useDataCache="false" singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
						<!-- Layout -->
						<include name="Layout.Layouts.Foundation" database="master" path="/sitecore/layout/Layouts/Foundation"/>
						<!-- Rendering -->
						<include name="Layout.Renderings.Project.$solutionpathformat$" database="master" path="/sitecore/layout/Renderings/Project/$solutionpathformat$"/>

						<!-- Rendering SXA Custom -->
						<include name="Layout.Renderings.Feature.EA.Compliancy" database="master" path="/sitecore/layout/Renderings/Feature/Experience Accelerator/Compliancy"/>
						<include name="Layout.Renderings.Feature.EA.Context" database="master" path="/sitecore/layout/Renderings/Feature/Experience Accelerator/Context"/>
						
						<!-- Grid -->
						<include name="System.Settings.Feature.ExperienceAccelerator.Bootstrap4" database="master" path="/sitecore/system/Settings/Feature/Experience Accelerator/Bootstrap 4"/>

						<!-- Template SXA -->
						<include name="Template.Feature.SXA.Redirects" database="master" path="/sitecore/templates/Feature/Experience Accelerator/Redirects"/>
						
						<!-- Template Under Project -->
						<include name="Template.Project.$solutionpathformat$" database="master" path="/sitecore/templates/Project/$solutionpathformat$"/>
						<include name="Template.Project.SXA.$solutionpathformat$" database="master" path="/sitecore/templates/Project/$solutionpathformat$ SXA Sites"/>
						<include name="Template.Common" database="master" path="/sitecore/templates/Common"/>

						<!-- Sample-->
						<include name="Template.Sample" database="master" path="/sitecore/templates/Sample"/>

						<!-- Record Fecet Bucket-->
						<include name="System.Settings.Buckets.Facets" database="master" path="/sitecore/system/Settings/Buckets/Facets"/>

						<!-- Project $safeprojectname$ -->
						<include name="Content" database="master" path="/sitecore/content/$solutionpathformat$ SXA Sites/$solutionpathformat$">
						</include>
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>