<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"
               xmlns:role="http://www.sitecore.net/xmlconfig/role/"
               xmlns:unicorn="http://www.sitecore.net/xmlconfig/unicorn/">
  <sitecore unicorn:require="Enabled">
    <unicorn>
      <configurations>
        <configuration name="$safeprojectname$" description="$projectname$" dependencies="Foundation.*" extends="Helix.Feature">
          <targetDataStore physicalRootPath="$(sourceFolder)\Shared\$safeprojectname$" useDataCache="false" singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
						<!-- Template Base Feature -->
						<!--<include name="Template.System.Geospatial" database="master" path="/sitecore/templates/System/Geospatial"/>-->
						<!--Dictionary-->
						<!--<include name="system.Feature.Report Error Message" database="master" path="/sitecore/system/Dictionary/" />-->
					</predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>
