<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<settings>
			<setting name="LayoutNotFoundUrl">
				<patch:attribute name="value">/</patch:attribute>
			</setting>
			<setting name="RequestErrors.UseServerSideRedirect">
				<patch:attribute name="value">true</patch:attribute>
			</setting>
		</settings>
	</sitecore>
</configuration>