<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<scheduling>
			<agent type="Sitecore.Tasks.CounterDumpAgent">
				<patch:attribute name="interval">00:00:00</patch:attribute>
			</agent>
		</scheduling>
		<settings>
			<setting name="Counters.Enabled" value="false"/>
		</settings>
	</sitecore>
</configuration>